
  
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Excited by new and mindful technology</h2>
      <%=link_to "View My Work", 'portfolio', :class => "view_work_button" %>
    </div>
  </div>
</div>


