<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-md-4">
        <h1>Jessica Lea Nolette</h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Welcome</a></li>
          <li><a href=#>Portfolio</a></li>
          <li><a href=#>About</a></li>
          <li><a href=#>Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>New career here I come!</h2>
      <a class="button" href="#">View my Work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li>
        <div class="github">
          <a class="github" href="#">github</a>
        </div>
      </li>
      <li>
        <div class="linkedin">
          <a href="#">linkedin</a>
        </div>
      </li>
      
    </ul>
    <p>&copy; 2020 Jessica Lea Nolette</p>
  </div>
</div>
